<template name="footer">
	<div class="ui inverted vertical footer segment">
	  <p></p>
	  <div class="ui center aligned">
	      <h4 class="ui center aligned inverted header">
	        made with <i class="red heart icon"></i> and meteor by
	      </h4>
	  <div class="ui center aligned">
	    <h1 class="ui center aligned inverted header">
			<a class="myname" href="http://michaelkant.com">michael kant</a>
			<p><a href="mailto://meiskant@gmail.com"><i class="at icon"></i></a><a href="https://github.com/inconsiderate/mcu"><i class="github icon"></i></a><a href="https://twitter.com/michaelkant"><i class="twitter icon"></i></a><a href="https://www.linkedin.com/in/michaelkant"><i class="linkedin icon"></i></a></p>
	    </h1>
	  </div>
	    <div class="container"></div>
	  </div>
	</div>
</template>
