<template name="forumPage">
	<div class="container">
		{{#if currentUser}}
			<div style="margin-bottom: 50px;">
				<a href="/admin"><div class="ui right floated submit button reply-button">Manage Account</div></a>
			</div>
		{{ else }}
			<div class="ui accordion" style="margin-bottom: 50px;">
				<div class="title">
					<div class="ui right floated submit button reply-button">Log In</div>  
				</div>
				<div class="content">
					{{> orionBootstrapLogin }}
	    		</div>
			</div>
		{{/if}}
		{{ #each posts }}
			{{> post }}
		{{ /each }}
	</div>
</template>

<template name="post">
	<div class="ui segment" id="{{ _id }}">
		<h1 class="ui header">{{ title }}</h1>
		<h4 class="ui dividing header">{{writtenBy}} on {{ date }}</h4>
		<p></p>
		{{{ body }}}
	</div>
	{{#if currentUser}}
	<div class="ui accordion">
		<div class="title">
			<div class="ui labeled submit icon button reply-button"><i class="icon edit"></i> Comment</div>  
		</div>
		<div class="content">
		{{> commentSubmit }}
	    </div>
	</div>
	{{ else }}
		Log In Above To Comment	
	{{/if}}
	<div class="ui comments">
		<h3 class="ui dividing header">Comments</h3>
		{{ #each comments }}
			{{> comment }}
		{{ /each }}
	</div>
	<div class="ui horizontal divider"></div>
</template>


<template name="comment">
  <div class="comment">
<!--     <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
 -->    <div class="content">
      <a class="author">{{writtenBy}}</a>
      <div class="metadata">
        <span class="date">{{date}}</span>
      </div>
      <div class="text">
        {{{body}}}
      </div>
    </div>
  </div>
</template>

<template name="commentSubmit">
	<form name="comment" class="comment-form form">
		<label for="body">Comment on this post</label>
		<textarea name="body" id="body" class="form-control" rows="3"></textarea>
		<button type="submit" class="ui small blue button">Submit Comment</button>
	</form>
</template>