<template name="forumPage">
	<div class="container">
		<div class="ui accordion">
			<div class="title">
				<div class="ui green labeled submit icon button" id="submit-new-post-button"><i class="icon edit"></i> Create New Post</div>  
			</div>
			<div class="content">

				{{#autoForm collection="Posts" id="insertNewPostForm" type="insert" resetOnSuccess="true"}}
					<fieldset>
						{{> afQuickField name='title'}}
						{{> afQuickField name='body'}}
					</fieldset>
					<button type="submit" class="btn btn-primary">Submit New Post</button>
			 	{{/autoForm}}

		    </div>
		</div>
		{{ #each posts }}
			{{> post }}
		{{ /each }}
	</div>
</template>

<template name="post">
	<div class="ui segment" id="{{ _id }}">
		<h1 class="ui header">{{ title }}</h1>
		<h4 class="ui dividing header">{{writtenBy}} on {{ date }}</h4>
		<p></p>
		{{{ body }}}
	</div>

	{{#autoForm collection="Comments" id="insertNewComment-{{ ../title }}" type="insert"}}
		<legend>Reply to {{ title}}</legend>
		<fieldset>
			{{> afQuickField name='body' rows='2'}}
			{{> afQuickField name='postId' value='{{ title }}' type='hidden'}}
		</fieldset>
		<button type="submit" class="btn btn-primary">Comment</button>
 	{{/autoForm}}
	<div class="ui comments">
		<h3 class="ui dividing header">Comments</h3>
		{{ #each comments }}
			{{> comment }}
		{{ /each }}
	</div>
	<div class="ui horizontal divider"></div>
</template>


<template name="comment">
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">{{createdBy}}</a>
      <div class="metadata">
        <span class="date">{{createdAt}}</span>
      </div>
      <div class="text">
        {{{body}}}
      </div>
    </div>
  </div>
</template>