
<template name="timelineMenu">
    <div class="ui center aligned container">
        <div class="ui small buttons">
            {{#if viewOrder}}
                <a class="ui blue button sort-order" href="/timeline/release-date">viewing order </a>
            {{else}}
                <a class="ui blue button sort-order" href="/timeline/view-order">release date</a>
            {{/if}}
            <div class="or" data-text=" & "></div>
            <a class="ui blue button sort-ascending {{#if viewOrder}}disabled{{/if}}" id="sort-timeline-asc-button">ascending</a>
            <a class="ui blue button sort-ascending {{#if viewOrder}}disabled{{/if}}" id="sort-timeline-desc-button" style="display: none;">descending</a>
        </div>
    </div>
</template>

<template name="timelineViewOrder">
    {{> timelineMenu }}
    <section class="ui center aligned container">
        <br/>
            <table class="ui very basic collapsing celled striped table">
                <thead>
                    <tr>
                        <th></th>
                        <th class="five wide"></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {{#each moviesByViewOrder}}
                    <tr>
                        <td class="middle aligned">
                            <img class="ui mini rounded image" src={{logo.url}}>
                        </td>
                        <td>
                            <h4 class="ui image header">
                                <!--<img src="/images/avatar2/small/lena.png" class="ui mini rounded image">-->
                                <div class="content">
                                    {{ title }}
                                    <div class="sub header">{{ studio }}
                                    </div>
                                </div>
                            </h4>
                            </td>
                        <td>
                            {{{ description }}}
                        </td>
                        <td>
                            {{ chronologyDate }}
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
    </section>
    <br/>
    <br/>
    <section class="ui center aligned container">
        <h4 class="ui horizontal header divider"><span>Suggestions? Mistakes? Leave a comment!</span></h4>
    </section>
    <section class="ui center aligned container">
        <div id="disqus_thread"></div>
        <script>
            /**
            *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
            *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            
            var disqus_config = function () {
            this.page.identifier = 'timelineViewOrder'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            
            (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://marvelcalendar1.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
</template>

<template name="timelineReleaseDate">
    {{> timelineMenu }}
    <section>
        {{#each dateRange}}
            {{#if movieByDate this }}
                <div class="ui left aligned container">
                    <div class="ui sizer vertical segment">
                        <div class="ui huge header">
                            {{this}}
                            <div class="ui fitted divider"></div>
                        </div>
                        <div>
                            <div class="ui five doubling special cards">
                                {{#each movieByDate this}}
                                    {{> timelineItemReleaseDate }}
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </section>
</template>

<template name="timelineItemReleaseDate">

    <div class="card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div class="ui small inverted header">
                            {{ title }}
                            <br /><br />
                            <br /><br />
                            {{#if release}}
                                {{release}}
                            {{else}}
                                {{#if estimatedDate}}
                                    Estimated: {{estimatedDate}}
                                {{else}}
                                    Unknown Date
                                {{/if}}
                            {{/if}}

                        </div>
                    </div>
                </div>
            </div>
            <img src="{{poster.url}}">
        </div>
    </div>

</template>
