
<template name="timeline">
	<div class="ui center aligned container">
		<button class="ui button filter-button" data-filter-value='{}'>All Items</button>
		<button class="ui button filter-button" data-filter-value='{"attributes": "featureFilm"}'>Movies</button>
		<button class="ui button filter-button" data-filter-value='{"attributes": "tv"}'>TV</button>
		<button class="ui button filter-button" data-filter-value='{"attributes": "mcu"}'>Official MCU</button>
		<button class="ui button filter-button" data-filter-value='upcoming'>Upcoming</button>
	<!-- 	<button class="filter-button" data-filter-title='animated' data-filter-value='{"attributes": "animated"}'>Animated</button>
		<button class="filter-button" id="upcomingFilterButton">Upcoming</button> -->
	</div>
	<section id="cd-timeline" class="cd-container cssanimations">
    {{#each filtered_movies}}
		{{> timelineItem}}
	{{/each}}
	</section> <!-- cd-timeline -->
</template>

<template name="timelineItem2">
	<div class="cd-timeline-block">
		{{#if logo.url}}
		<div class="cd-timeline-img cd-picture">
			<img src="{{logo.url}}" alt="Logo">
		</div>
		{{ else }}
		<div class="cd-timeline-img cd-picture border">
		</div>
		{{/if}}

		<div class="cd-timeline-content">
			<div class="ui card">
				<div class="content">
					<i class="right floated like icon"></i>
					<i class="right floated star icon"></i>
					<div class="header">Some Sort Of Title</div>
					<div class="description">
						<p>This is a lot of important information.</p>
					</div>
				</div>
				<div class="extra content">
					<span class="left floated like">
						<i class="like icon"></i>
						Like
					</span>
					<span class="right floated star">
						<i class="star icon"></i>
						Favorite
					</span>
				</div>
			</div>
		</div>
	</div>
</template>

<template name="timelineItem">
	<div class="cd-timeline-block">
		{{#if logo.url}}
		<div class="cd-timeline-img cd-picture">
			<img src="{{logo.url}}" alt="Logo">
		</div>
		{{ else }}
		<div class="cd-timeline-img cd-picture border">
		</div>
		{{/if}}

		<div class="cd-timeline-content">

			<div class="movie-poster" style="
				float: left;
    			margin-right: 15px;
				height: 210px; 
				width: 150px; 
				background-image: url('{{poster.url}}'); 
				background-size: contain;
	    		background-position: center;
	    		background-repeat: no-repeat;">
			</div>
			<div class="movie-info">
				<h2>{{title}}</h2>
				<p>{{{description}}}</p>
				<!-- <a href="#0" class="cd-read-more">Read more</a> -->
				<span class="cd-date">{{release}}</span>
			</div>
		</div> <!-- cd-timeline-content -->
	</div> <!-- cd-timeline-block -->
</template>
