
<template name="timeline">
	<div class="ui center aligned container">
 		<div class="ui checked checkbox" id="masterbox">
			<input id="master-filter-button" type="checkbox">
			<label for="master-filter-button">Show All</label>
		</div>
 		<div class="ui checkbox checkfilters" id="movies-checkbox">
			<input type="checkbox">
			<label>Movies</label>
		</div>
		<div class="ui checkbox checkfilters" id="tv-checkbox">
			<input type="checkbox">
			<label>TV</label>
		</div>
		<div class="ui checkbox checkfilters" id="mcu-checkbox">
			<input type="checkbox">
			<label>Official MCU</label>
		</div>

        <div class="ui checkbox checkfilters" id="unconfirmed-checkbox">
            <input type="checkbox">
            <label>Known Dates</label>
        </div>

        <div class="ui mini buttons">
            <a class="ui button sort-order" id="sort-timeline-chrono-button" style="display: none;">chronology</a>
            <a class="ui button sort-order" id="sort-timeline-release-button">release date </a>
            <div class="or" data-text=" & "></div>
            <a class="ui button sort-ascending" id="sort-timeline-asc-button">ascending</a>
            <a class="ui button sort-ascending" id="sort-timeline-desc-button" style="display: none;">descending</a>
        </div>

	</div>
	<section id="cd-timeline" class="cd-container cssanimations">
    {{#each filtered_movies}}
		{{> timelineItem}}
	{{/each}}
	</section>
</template>

<template name="timelineItem">
	<div class="cd-timeline-block">
		{{#if logo.url}}
		<div class="cd-timeline-img cd-picture">
			<img src="{{logo.url}}" alt="Logo">
		</div>
		{{ else }}
		<div class="cd-timeline-img cd-picture border">
		</div>
		{{/if}}

		<div class="cd-timeline-content">
			<div class="movie-poster" style="
				float: left;
    			margin-right: 15px;
				height: 210px; 
				width: 150px; 
				background-image: url('{{poster.url}}'); 
				background-size: contain;
	    		background-position: center;
	    		background-repeat: no-repeat;">
			</div>
			<div class="movie-info">
				<h2>{{title}}</h2>
				<p>{{{description}}}</p>
                <span class="cd-date">
                {{#if release}}
                    {{release}}
                {{else}}
                    {{#if estimatedDate}}
                        Estimated: {{estimatedDate}}
                    {{else}}
                        Unknown Date
                    {{/if}}
                {{/if}}
                </span>
			</div>
		</div>
	</div>
</template>
