

<!-- LIST OF ALL MOVIES -->
<template name="movieList">
		<section id="currentList">
			<h2 class="ui larger header">Currently Playing</h2>
			{{#each currentMovies}}
				{{> movie }}
		  	{{/each}}
		</section>

	<div class="ui container">
		<section id="upcomingList">
			<h2 class="ui larger header" style="text-align: right; margin-bottom: 25px;">Upcoming</h2>
			{{#each upcomingMovies}}
				{{> movie }}
			{{/each}}
		</section>
	</div>
</template>

<template name="moviecard">
	<div class="fluid card">
		<div class="blurring dimmable image">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
					{{#if watchnow}}
						<div class="ui inverted button"><a href={{watchnow}} target="_blank"><i class="video play outline icon"></i> Watch Now</a></div>
					{{ else }}
						{{ #if trailer }}
						<div class="ui inverted button"><a href={{trailer}} target="_blank"><i class="video play outline icon"></i> Watch Trailer</a></div>
						{{ else }}
						<div>Media Not Yet Available</div>
						{{/if}}
					{{/if}}
					</div>
				</div>
			</div>
			<img class="ui fluid dimmable image" src={{banner.url}}>
		</div>
		<div class="content">
			<img class="right floated avatar large ui image" src={{logo.url}}>
			<div class="header">
				{{title}}
			</div>
			<div class="meta">{{ release }}</div>
			<div class="description">
				<p>{{{description}}}</p>
			</div>
			<div class="extra content">
			{{#if studio}}
				<div class="ui bottom left floated item">{{studio}}</div>
			{{/if}}
			{{#if trakt}}
				<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
			{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="upcomingMovie">
	<div class="fluid card">
	  <div class="content">
	  <img class="left floated mini ui image" src={{logo.url}}>
	    <div class="header"><a href="/post/{{ _id }}">{{title}}</a></div>
	    <div class="meta">
	      <span class="cinema">{{date}}</span>
	    </div>
	    <div class="description">{{{description}}}</div>
	    <div class="extra content">
	      {{#if trailer}}
	      <div class="ui bottom left attached label"><a href={{trailer}} target="_blank"><i class="video play outline icon"></i>Play Trailer</a></div>
	      {{/if}}
	      {{#if trakt}}
	      <div class="ui bottom right attached label"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
	      {{/if}}
	    </div>
	  </div>
	</div>
	<div class="ui horizontal divider"></div>
</template>

<template name="unconfirmedMovie">
  <div class="item">
    <img class="ui avatar image" src={{logo.url}}>
    <div class="content">
      <a class="header">{{title}}</a>
      <div class="description">
        {{{description}}}
      </div>
    </div>
  </div>
</template>

