<template name="header">
	<div class="ui inverted vertical masthead center aligned segment">
	    <div class="ui container">
			<div class="ui large secondary inverted pointing menu">
		        <a id="nav-cal" class="item">Calendar</a>
		        <a id="nav-thelist" class="item">The Big List</a>
		        <a id="nav-forum" class="item tooltip-popup" data-content="Coming Soon!">Forum</a>
		        <div class="right item">
					<button class="ui inverted grey button" id="marvelbutton">Marvel</button>
					<button class="tooltip-popup ui inverted grey button" data-content="Coming Soon (maybe)!">DC</button>
				</div>
			</div>
	    </div>

		<div class="ui left vertical menu sidebar mobile only">
	        <a class="active item">Calendar</a>
	        <a class="item tooltip-popup" data-content="Coming Soon!">The Big List</a>
	        <a class="item tooltip-popup" data-content="Coming Soon!">Forum</a>
		</div>

	    <div class="ui text container">
	      <h1 class="ui inverted header">Marvel Cinematic Universe Calendar</h1>
	      <p>Your one-stop for Marvel Studios films and television</p>
	    </div>
	</div>
</template>
