<template name="layout">
		
	<div class="ui six column stackable grid segment megaphone">
		{{> header }}
	</div>

<div class="ui stackable relaxed grid">
	<div class="ten wide column">
		{{#each blogPosts }}
			{{> post }}
		{{/each}}
	</div>
	<div class="six wide right floated column">
		<div class="ui container right-padding">
			<section id="currentList">
				<div class="ui large header" style="text-align: right; margin-right: 15px;">Currently Playing</div>
				{{#each currentMovies}}
					{{> movie }}
			  	{{/each}}
			</section>
		</div>

		<div class="ui container right-padding">
			<section id="upcomingList">
				<div class="ui large header" style="text-align: right; margin-right: 15px;">Upcoming</div>
				{{#each upcomingMovies}}
					{{> movie }}
				{{/each}}
			</section>
		</div>
		<div class="ui container right-padding">
			<section id="upcomingList">
				<div class="ui large header" style="text-align: right; margin-right: 15px;">Unconfirmed / Rumoured / Unknown Dates</div>
				<div class="ui top aligned celled list stackable two column grid">
				{{#each unconfirmedMovies}}
					{{> unconfirmedMovie }}
				{{/each}}
				</div>
			</section>
		</div>
	</div>
</div>
{{> footer }}
</template>

<template name="blog">	
</template>

<template name="header">
	<div class="ui two column row">
	    <div class="ui column">
			<h1 class="ui left floated header">Marvel Cinematic Universe Calendar</h1>
	    </div>
		<div class="ui column">
	    	<div id="calendar"></div>
			<div id="calendar-share-button">
				<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=30&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lh599j7okgva72o6um13nnemd4%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FVancouver" style="border-width:0" width="145" height="30" frameborder="0" scrolling="no"></iframe>
			</div>
	    </div>
	</div>
</template>

<template name="footer">
	<div class="ui black inverted vertical footer segment">
	  <p></p>
	  <div class="ui center aligned">
	      <h4 class="ui center aligned inverted header">
	        made with <i class="red heart icon"></i> and meteor
	      </h4>
	  <div class="ui center aligned">
	    <h1 class="ui center aligned inverted header">
	      <a href="https://github.com/inconsiderate/mcu"><i class="github icon"></i></a><a href="https://twitter.com/michaelkant"><i class="twitter icon"></i></a><a href="https://www.linkedin.com/in/michaelkant"><i class="linkedin icon"></i></a>
	      <p><a href="http://michaelkant.com">michael kant</a></p>
	    </h1>
	  </div>
	    <div class="container"></div>
	  </div>
	</div>
</template>
