html, body {
  font-size: 16px;
}

.ui.inverted.header {
    color: #ececec;
}

.orion-bootstrap-admin img {
    max-width: 2.5em;
}

.ui.container {
    margin-top: 50px;
    margin-bottom: 50px;
}

i.icon {
    margin: 0 !important;
}

img {
    width: 100%;
}

a {
  color: inherit;
}

a:hover {
    color:black;
}

.ui.cards>.card img.avatar, .ui.cards>.card .avatar img, .ui.card img.avatar, .ui.card .avatar img {
    width: 2.25em;
    height: 2.25em;
}

.card {
  box-shadow: none !important;
}

div.ui.items>.item>.image:not(.ui) {
    width: 45px;
}

.ui.items>.item:first-child {
    margin-top: inherit;
}

.card .content .extra.content {
    margin-top: 30px;
}