html, body {
  font-size: 16px;
  background-color: #FCFFFA;
}

.ui.grid.headline {
    margin: 60px 0px;
}

.fc-toolbar {
    margin-bottom: 0px;
    background-color: #FCFFFA;
}

#calendar {
    background-color: white;
    opacity: 0.9;
}

#calendar-share-button {
    float: right;
}

.orion-bootstrap-admin img {
    max-width: 2.5em;
}

.ui.fluid.card {
    margin: 0.5em 0em;
}


i.icon {
    margin: 0 !important;
}

img {
    width: 100%;
}

a {
  color: inherit;
}

a:hover {
    color:black;
}

.ui.cards>.card img.avatar, .ui.cards>.card .avatar img, .ui.card img.avatar, .ui.card .avatar img {
    width: 2.25em;
    height: 2.25em;
}

div.ui.items>.item>.image:not(.ui) {
    width: 45px;
}

.ui.items>.item:first-child {
    margin-top: inherit;
}

.card .content .extra.content {
    margin-top: 30px;
}