<template name="calendarpage">
	{{#if currentCalendarMovies }}
	<div class="ui very relaxed stackable grid container">
		<div class="{{#if oneCurrentMovie}}eight{{ else }} ten {{/if}} wide column">
            <h3 class="ui horizontal header divider"><span>Now Playing</span></h3>
	    	<div class="ui centered stackable relaxed equal width grid container special cards">
		        {{#each currentCalendarMovies}}
					<div class="ui centered column">
						<img class="ui centered image" src="{{poster.url}}">
						{{#if watchnow }}
							<div class="ui dimmer">
								<div class="content">
									<div class="center">
										<h2 class="ui inverted icon header">
											<i class="play icon"></i>
											Watch Now
										</h2>
									</div>
								</div>
							</div>
						{{/if}}
		            </div>
		        {{/each}}
			</div>
		</div>
		<div class="{{#if oneCurrentMovie}}eight{{ else }} six {{/if}} wide column">
	        <h3 class="ui horizontal header divider"><span>Next Up</span></h3>
	        <div class="ui very relaxed divided list">
				{{#each nextUpCalendarMovies}}
		        	{{> nextUpMovieCard}}
			    {{/each}}
		    </div>
	    </div>
    </div>
	{{ else }}
	<div class="ui container">
        <h3 class="ui horizontal header divider"><span>Next Up</span></h3>
    </div>
	<div class="ui centered three column stackable relaxed equal width grid container special cards">
	    {{#each nextUpCalendarMovies}}
	        {{> moviecard}}
	    {{/each}}
	</div>
	{{/if}}
	<div class="ui centered stackable grid headline container">
		<div class="sixteen wide column">
				{{> yield "googleCalendar" }}
	    </div>
	</div>

	<div class="ui two column very relaxed stackable grid container">
		<div class="eight wide column">
	    	<!-- <h4 class="ui horizontal header divider"><span>Support</span></h4> -->
			<p>If you find this site helpful or if you make use of the calendar sync, consider sending a buck in this direction. The site could always use more bucks.
			</p>
			<div class="ui centered item">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8S4FJKS4HZR6S">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			</div>
		</div>
	    <div class="eight wide column">
	    	<!-- <h4 class="ui horizontal header divider"><span>About the Project</span></h4> -->
		    <p>I started this site as a way for some friends to keep track of the shows we love. But maybe you'll find it useful too!</p>
			<p>This calendar is updated regularly, but if you spot any mistakes please let me know at one of the contact options in the footer below, or on the timeline page, where the REAL magic happens.</p>
	  	</div>
	</div>
</template>
