<template name="calendarpage">

	<div class="ui centered three column stackable relaxed grid container special cards">
        {{#if currentCalendarMovies}}
            <h4 class="ui horizontal header divider"><span>Now Playing</span></h4>
            {{#each currentCalendarMovies}}
                {{> moviecard}}
            {{/each}}
        {{else}}
            <h4 class="ui horizontal header divider"><span>Next Up</span></h4>
            {{#each nextUpCalendarMovies}}
                {{> moviecard}}
            {{/each}}
        {{/if}}
	</div>


	<div class="ui centered stackable grid headline container">
		<div class="sixteen wide column">
			<h4 class="ui horizontal header divider"><span>The Infamous Calendar</span></h4>
	    	<div id="calendar"></div>
			<div id="calendar-share-button">
				Copy to your own Google Calendar <i class="arrow right icon"></i> <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=30&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=lh599j7okgva72o6um13nnemd4%40group.calendar.google.com&amp;color=%231B887A&amp;ctz=America%2FVancouver" style="border-width:0" width="145" height="30" frameborder="0" scrolling="no"></iframe>
			</div>
	    </div>
	</div>

	<div class="ui two column very relaxed stackable grid container">
		<div class="eight wide column">
	    	<h4 class="ui horizontal header divider"><span>Donate a Beer</span></h4>
			<p>If you copy this calendar to your own Google Calendar, consider donating a buck. It helps pay for the domain name, and keeping the data online. Also beer. The calendar will be kept up to date for so long as they keep making these shows. ;)
			</p>
			<div class="ui centered item">
			<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
				<input type="hidden" name="cmd" value="_s-xclick">
				<input type="hidden" name="hosted_button_id" value="8S4FJKS4HZR6S">
				<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
				<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
			</form>
			</div>
		</div>
	    <div class="eight wide column">
	    	<h4 class="ui horizontal header divider"><span>About the Project</span></h4>
		    <p>Click the +Google Calendar button above to add the entire Marvel lineup to your own personal Google calendar.</p>
			<p>This calendar is updated regularly, but if you spot any mistakes please let me know at one of the contact options in the footer below.</p>
	  	</div>
	</div>
</template>
