
<template name="comingSoonMovie">
	<div class="four wide column">
		<img class="column tooltip-popup movie-image" src={{banner.url}} 
			data-html="{{#if logo.url}}
						<img class='left floated avatar ui image' src={{logo.url}}>
						{{/if}}
						{{release}}">
	</div>
</template>

<template name="rumouredMovie">
	<div class="eight wide column item">
		<div class="content">
			{{#if logo.url}}
			<div class="ui avatar image">
		  		<img src={{logo.url}}>
			</div>
			{{/if}}
		  <a class="header">{{title}}</a>
		  <div class="description">
		    {{{description}}}
		  </div>
		  {{#if rumourSource}}
		  <div class="extra">
		    <div class="right floated"><a href={{rumourSource}} target="_blank">rumour source<i class="right chevron icon"></i></a></div>
		  </div>
		  {{else}}
		  <div class="extra">
		    <div class="right floated"><a href={{confirmationSource}} target="_blank">confirmed<i class="right chevron icon"></i></a></div>
		  </div>
		  {{/if}}
		</div>
	</div>
</template>

<template name="moviecard">
	<div class="fluid card">
		<div class="blurring dimmable image">
			<div class="ui dimmer">
				<div class="content">
					<div class="center">
					{{#if watchnow}}
						<div class="ui inverted button"><a href={{watchnow}} target="_blank"><i class="video play outline icon"></i> Watch Now</a></div>
					{{ else }}
						{{ #if trailer }}
						<div class="ui inverted button"><a href={{trailer}} target="_blank"><i class="video play outline icon"></i> Watch Trailer</a></div>
						{{ else }}
						<div>Media Not Available</div>
						{{/if}}
					{{/if}}
					</div>
				</div>
			</div>
			<img class="ui fluid dimmable image" src={{banner.url}}>
		</div>
		<div class="left aligned content">
			<img class="right floated avatar large ui image" src={{logo.url}}>
			<div class="header">
				<a href="../thelist#{{this._id}}">
				{{title}}
				</a>
			</div>
			<div class="meta">{{release}}</div>
			<div class="center aligned description">
				<p>{{{description}}}</p>
			</div>
		</div>
		<div class="extra content">
			{{#if studio}}
			<div class="ui bottom left floated item">{{studio}}</div>
			{{/if}}
			{{#if trakt}}
			<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
			{{/if}}
		</div>
	</div>
</template>
