<template name="moviecard">
	<div class="{{#if oneCurrentMovie }}sixteen{{ else }} eight {{/if}}wide column">
		<div class="ui fluid card">
			<div class="blurring dimmable image">
				<div class="ui dimmer">
					<div class="content">
						<div class="center">
						{{#if watchnow}}
							<div class="ui inverted button"><a href={{watchnow}} target="_blank"><i class="video play outline icon"></i> Watch Now</a></div>
						{{ else }}
							{{ #if trailer }}
							<div class="ui inverted button"><a href={{trailer}} target="_blank"><i class="video play outline icon"></i> Watch Trailer</a></div>
							{{ else }}
							<div>Media Not Available</div>
							{{/if}}
						{{/if}}
						</div>
					</div>
				</div>
	                    <!--BANNER SHOULD BE 600 x 400 px-->
				<img class="ui fluid dimmable image" src={{banner.url}}>
			</div>
			<div class="left aligned content">
				<img class="right floated avatar large ui image" src={{logo.url}}>
				<div class="header">
					{{ #if trailer }}
						<a href={{trailer}}>{{title}}</a>
					{{ else }}
						{{title}}
					{{ /if }}
				</div>
				<div class="meta">
	                {{#if release}}
	                    {{release}}
	                {{else}}
	                    {{#if estimatedDate}}
	                        Estimated: {{estimatedDate}}
	                    {{else}}
	                        Unknown Date or Just a Rumour
	                    {{/if}}
	                {{/if}}
	            </div>
				<div class="center aligned description">
					<p>{{{description}}}</p>
				</div>
			</div>
			<div class="extra content">
				{{#if studio}}
				<div class="ui bottom left floated item">{{studio}}</div>
				{{/if}}
				{{#if trakt}}
				<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="nextUpMovieCard">
	<div class="item">
	    <div class="right floated content">
      		<div class="ui tiny header">{{release}}</div>
    	</div>
		<img class="vertical aligned ui avatar image" src={{logo.url}} />
		<div class="content">
			<div class="ui vertical aligned header">{{title}}</div>
		</div>
		<div class="description">{{{description}}}</div>
		<br/>
		<div class="extra content">
			{{#if studio}}
			<i class="ui bottom left floated item">{{studio}}</i>
			{{/if}}
			{{#if trakt}}
			<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
			{{/if}}
		</div>
	</div>
</template>



