<template name="moviecard">
	<div class="column">
		<style>#{{_id}}:before {
			content: "";
			position: absolute;
			top: 0; 
			left: 0;
			width: 100%; 
			height: 100%;  
			opacity: .2; 
			z-index: -1;
			background-image: url({{banner.url}});
		    background-position: center; 
		    background-size: cover;
		}</style>
		<div class="ui fluid card" id="{{_id}}" style="position: relative; z-index: 1;">
			<div class="left aligned content">
				<img class="right floated avatar large ui image" src={{logo.url}}>
				<div class="header">
					{{ #if trailer }}
						<a href={{trailer}}>{{title}}</a>
					{{ else }}
						{{title}}
					{{ /if }}
				</div>
				<div class="meta">
	                {{#if release}}
	                    {{release}}
	                {{else}}
	                    {{#if estimatedDate}}
	                        Estimated: {{estimatedDate}}
	                    {{else}}
	                        Unknown Date or Just a Rumour
	                    {{/if}}
	                {{/if}}
	            </div>
				<div class="center aligned description">
					<p>{{{description}}}</p>
				</div>
			</div>
			<div class="extra content">
				{{#if studio}}
				<div class="ui bottom left floated item">{{studio}}</div>
				{{/if}}
				{{#if trakt}}
				<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
				{{/if}}
			</div>
		</div>
	</div>
</template>

<template name="nextUpMovieCard">
	<div class="item">
	    <div class="right floated content">
      		<div class="ui tiny header">{{release}}</div>
    	</div>
		<img class="vertical aligned ui avatar image" src={{logo.url}} />
		<div class="content">
			<div class="ui vertical aligned header">{{title}}</div>
		</div>
		<div class="description">{{{description}}}</div>
		<br/>
		<div class="extra content">
			{{#if studio}}
			<i class="ui bottom left floated item">{{studio}}</i>
			{{/if}}
			{{#if trakt}}
			<div class="ui bottom right floated item"><a href={{trakt}} target="_blank">trakt<i class="right chevron icon"></i></a></div>
			{{/if}}
		</div>
	</div>
</template>



